<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE_CONTROLLER" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LOG_THRESHOLD}</level>
        </filter>
        <encoder>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(%applicationName[%15.15t]){faint} %clr(${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr(%m){green}%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE_SERVICE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LOG_THRESHOLD}</level>
        </filter>
        <encoder>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(%applicationName[%15.15t]){faint} %clr(${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr(%m){yellow}%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE_MESSAGING" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LOG_THRESHOLD}</level>
        </filter>
        <encoder>
            <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr(%applicationName[%15.15t]){faint} %clr(${LOG_CORRELATION_PATTERN:-}){faint}%clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr(%m){magenta}%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>
                <pattern>
                    <pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                        {
                            "application": {
                                "name": "%applicationName"
                            },
                            "trace": {
                                "trace_id": "%mdc{traceId}",
                                "span_id": "%mdc{spanId}"
                            }
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="logstash"/>
    </root>

    <logger name="by.arvisit.cabapp" level="DEBUG" additivity="false">
        <appender-ref ref="logstash"/>
    </logger>

    <logger name="by.arvisit.cabapp.driverservice.controller" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_CONTROLLER"/>
        <appender-ref ref="logstash"/>
    </logger>
    <logger name="by.arvisit.cabapp.driverservice.service" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_SERVICE"/>
        <appender-ref ref="logstash"/>
    </logger>
    <logger name="by.arvisit.cabapp.driverservice.messaging" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_MESSAGING"/>
        <appender-ref ref="logstash"/>
    </logger>

</configuration>
